.tableBlock {
    width: 264px;
    min-width: 264px;
    max-width: 264px;
    margin: 0 auto;
    border-radius: 16px;}

/* Центруємо header */
.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 264px;
    /* Фіксована ширина */
    margin-left: auto;
    margin-right: auto;
    /* Центрування + відступ вниз */
    background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    height: 43px;
    padding: 0 16px; }


.tableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 264px;
    /* Фіксована ширина */
    margin: 0 auto 8px auto;
    padding: 10px 16px;
    border-radius: 10px;
    
    color: #fff;
    font-size: 15px;
    font-weight: 500; 
    }
.catInfo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.colorDot {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 6px;
}

.catAmount {
    font-variant-numeric: tabular-nums;
    letter-spacing: 0.4px;
}

/* Footer — total */
/* Центруємо футер */
.tableFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 264px;
    /* Фіксована ширина */
    margin: 24px auto 0 auto;
    padding: 10px 16px 0 16px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    border-top: 1px solid #fff3; }

