.addBtn {
  width: 56px;
  height: 56px;
  padding: 5px;
  border-radius: 100%;
  background: none;
  background-color: #508f8c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  bottom: 16px;
  margin-right: 16px;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.plusIcon {
  width: 36px;
  height: 36px;
  color: #081222;
}

.addBtn:hover {
  background-color: #3b7f7b;
}

@media screen and (min-width: 768px) {
  .addBtn {
    width: 64px;
    height: 64px;
    bottom: 16px;
    right: 16px;
    position: absolute;
    margin-right: 0;
  }

  .plusIcon {
    width: 42px;
    height: 42px;
  }
}

@media screen and (min-width: 1280px) {
  .addBtn {
    width: 56px;
    height: 56px;
    bottom: 24px;
    right: 24px;
  }

  .plusIcon {
    width: 36px;
    height: 36px;
  }
}
