/* Ваші існуючі стилі залишаються без змін */
body {
  font-family: "Arial", "Helvetica", "Inter Tight", sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  background: linear-gradient(135deg, #294045 0%, #1e2f33 100%);
  margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  margin-bottom: 30px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  margin-top: 0;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Оновлений page-content */
.page-content {
  
  flex: 1;
  width: 100%;
  margin: 0 auto 24px;
  padding: 0 16px;
}

svg {
  vertical-align: middle;
}

/* Планшет */
@media (min-width: 768px) {
  .page-content {
    padding: 0 32px;
    display: flex;
    margin: 32px auto 32px;
  }
}

/* Дескотоп */
@media (min-width: 1280px) {
  .page-content {
    justify-content: flex-start;
    gap: 32px;
  }
} 