body {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.5;
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  margin-bottom: 30px;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* в дизі цей колір йде на всі сторінки, тому задала глобально
не змінюйте! */

body {
  background: linear-gradient(135deg, #294045 0%, #1E2F33 100%);
} 

/* скидаю стилі для h2  */
h2 {
  margin-top: 0;
}

/* резет для форми, не чіпайте */
form {
  margin: 0;
  padding: 0;
  width: 100%;
}

