body {
  font-family: sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  background: linear-gradient(135deg, #294045 0%, #1e2f33 100%);
  background-size: cover;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
