.period-select-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.period-select-wrapper select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: black; }